@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins);

h1 {
    font-size: 3rem; /*48px*/
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

h2 {
    font-size: 2.25rem;/*36px*/
    font-weight: 400;
    padding: 50px 0;
}

h3 {
    font-weight: 700;
    font-size: 1.875rem; /*30px*/
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;/*24px*/
    font-weight: 700;
}

h5 {
    font-family: "Raleway", sans-serif;
    font-size: 1.125rem;/*18px*/
    font-weight: 400;
}

::placeholder {
    color: $placeholder;
}